Node.js dependencies
node_modules/

Environment variables file - DO NOT COMMIT THIS
.env

SQLite Database File
database.sqlite
database.sqlite-journal

Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Editor directories and files
.idea
.vscode
*.suo
.ntvs
*.njsproj
*.sln